CreateClaimedAccount Body {
  grid-size: 2;
  grid-columns: 22 1fr;
  grid-rows: 4 4 4 4;
  margin: 0 4;
  background: $panel;
  height: 65;
}

CreateClaimedAccount #creator-label {
  padding: 1 2;
}
