KeyAliasForm {
  SubTitle {
    text-style: bold;
    content-align: center middle;
  }

  Body {
    grid-rows: auto;
    grid-gutter: 1;
    height: auto;
  }

  ScrollablePart {
    padding: 2 4;
    height: 1fr;
  }
}
