WithdrawVesting Body {
  background: $panel;
  height: 14;
}

WithdrawVesting #withdraw-vesting-account-input,
#withdraw-vesting-shares-input {
  margin-top: 1;
  height: auto;
}

WithdrawVesting #hp-vests-conversion-info {
  text-style: bold;
  margin-top: 1;
  text-align: center;
}
