AuthorityDetails {
  AccountsAuthorities {
    height: 1fr;

    AuthoritySectionScrollable {
      margin-top: 1;

      SectionBody {
        padding: 1 1 0 1;
      }

      AccountCollapsible {
        margin-bottom: 1;
      }

      AuthorityRole {
        height: auto;

        CliveCollapsible {
          background-tint: $foreground 10%;
          margin-bottom: 1;

          &:focus-within {
            background-tint: $foreground 20%;
          }
        }
      }

      AuthorityTable {
        margin-right: 1;

        AuthorityItem,
        MemoItem {
          content-align: center middle;

          CliveCheckerBoardTableCell {
            height: auto;

            Static {
              height: auto;
            }
          }
        }

        .key-or-account {
          width: 12fr;
        }

        .memo-key {
          width: 13fr;
        }

        .weight {
          width: 1fr;
        }

        .action {
          width: 2fr;
        }
      }
    }
  }
}
