Authority {
  #filter-and-modify {
    width: auto;
    height: auto;

    #button-container {
      margin: 2 0 0 2;
      width: 1fr;
      height: auto;

      #modify-button {
        min-width: 1fr;
      }
    }
  }

  AuthorityRoles {
    margin-top: 1;

    SectionBody {
      padding: 1 1 0 1;
    }

    AccountCollapsible {
      margin-bottom: 1;
    }

    AuthorityType {
      background-tint: $foreground 10%;
      margin-bottom: 1;
      padding: 0 0 0 1;

      &:focus-within {
        background-tint: $foreground 20%;
      }
    }

    AuthorityTable {
      margin-right: 1;

      AuthorityHeader {
        height: 1;

        Static {
          content-align: center middle;
        }
      }

      AuthorityItem,
      MemoItem {
        content-align: center middle;

        CliveCheckerBoardTableCell {
          height: auto;

          Static {
            height: auto;
          }
        }
      }

      .key-or-account {
        width: 12fr;
      }

      .memo-key {
        width: 13fr;
      }

      .weight {
        width: 1fr;
      }

      .action {
        width: 2fr;
      }
    }
  }
}
