ModifyAuthority {

  DockedButtonPanel {
    dock: bottom;
    height: auto;
    padding-bottom: 2;
    background: $primary-background;
    border-top: $primary outer;

    #button-container {
      align-horizontal: right;
      height: auto;
      FinalizeTransactionButton {
        margin-left: 1;
      }
    }
  }
  #filter-and-modify {
    width: auto;
    height: auto;
    margin: 1;

    #button-container {
      margin: 2 0 0 2;
      width: 1fr;
      height: auto;

      #restore-button {
          min-width: 0.75fr;
      }
    }

    FilterAuthority {
      border-title-style: bold;
      border-title-color: $text;
      border-title-background: $primary;
      border: $primary outer;
      padding-top: 1;
      width: 10fr;
      height: auto;

      CliveButton {
        width: 1fr;
        min-width: 1fr;
      }

      ClearButton {
        margin: 0 1;
      }

      AuthorityInput {
        width: 6fr;
      }

      AccountFilterCollapsible {
        border-title-background: $primary;
        border-title-color: $text;
        border-title-style: bold;
        margin-right: 1;
        border-top: $primary panel;
        width: 3fr;

        Contents {
          padding: 1 0 0 0;
        }
      }
    }
  }

    ModifyTotalThreshold {
        height: auto;
        
        Middle {
            align-vertical: middle;
            align-horizontal: right;
            height: 3;
            width: 50%;
            Static {
                width: auto;
                height: auto;
            }
        }
    }
}