ModifyAuthority {

  DockedButtonPanel {
    dock: bottom;
    height: auto;
    padding-bottom: 2;
    background: $primary-background;
    border-top: $primary outer;

    #button-container {
      align-horizontal: right;
      height: auto;
      FinalizeTransactionButton {
        margin-left: 1;
      }
    }
  }
  #filter-and-modify {
    width: auto;
    height: auto;
    margin: 1;

    #button-container {
      margin: 2 0 0 2;
      width: 1fr;
      height: auto;

      #restore-button {
          min-width: 0.75fr;
      }
    }

  }

    ModifyTotalThreshold {
        height: auto;
        
        Middle {
            align-vertical: middle;
            align-horizontal: right;
            height: 3;
            width: 50%;
            Static {
                width: auto;
                height: auto;
            }
        }
    }
}