AccountWitnessVote Body {
  grid-size: 2;
  grid-columns: 15 1fr;
  grid-rows: 3 4 4;
  margin: 0 4;
  background: $panel;
  height: 12;
}

AccountWitnessVote #account-label {
  padding: 1 1;
}

AccountWitnessVote Checkbox {
  margin-left: 4;
}
