Operations {
  Section {
    margin: 1 2 0 2;

    SectionBody {
      align-horizontal: center;

      OperationButton,
      NotImplementedYetButton {
        margin-top: 1;
        width: 40%;
      }

      OperationButton:first-of-type {
        margin-top: 0;
      }
    }
  }
}
