Operations {
  OperationButton,
  NotImplementedYetButton {
    margin: 1 2 0 2;
    width: 40%;
  }

  Section {
    margin: 1 2 0 2;

    SectionBody {
      align-horizontal: center;
    }

    .first-in-section {
      margin: 0 2;
    }
  }
}
