Settings {
  Section {
    margin: 1 2 0 2;

    SectionBody {
      align-horizontal: center;

      OneLineButton {
        margin-top: 1;
        width: 40%;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}
