Savings {
  LeftContainer {
    border: solid blue;
  }
  ScrollableContainer {
    border: solid red;
  }

  TabbedContent {
    border: solid red;
  }

  Tab {
    width: 1fr;
  }

  SavingsDataProvider {
    height: 1fr;
  }
}
