Savings {
  Tab {
    width: 1fr;
  }

  SavingsInterestInfo {
    border: $secondary-darken-2;
    height: auto;
    max-height: 5;

    Horizontal {
      height: auto;
    }

    Container {
      height: auto;
    }

    DynamicLabel {
      text-style: bold;
      align: center middle;
      width: 1fr;
      height: 1fr;
    }

    .interest-rate-date {
      background: $primary-lighten-2;
    }

    .interest-rate-value {
      background: $primary-lighten-1;
    }

    .interest-rate-value-percent {
      background: $primary-lighten-2;
    }
  }

  SavingsBalances {
    layout: grid;
    grid-size: 2 3;
    grid-rows: 1;
    width: 1fr;
    height: auto;

    DynamicLabel {
      text-style: bold;
      align: center middle;
      width: 1fr;
    }

    #savings-title {
      text-style: bold;
      column-span: 2;
      background: $accent-lighten-1;
      text-align: center;
    }

    #savings-token-hbd {
      background: $primary-darken-1;
      text-align: center;
    }

    #savings-token-hive {
      background: $primary-darken-2;
      text-align: center;
    }

    .savings-value-hive {
      background: $accent-lighten-1;
    }

    .savings-value-hbd {
      background: $accent-lighten-3;
    }
  }

  .transfer-savings-balances {
    border: $secondary-darken-2;
  }

  PendingHeader {
    margin-top: 1;
    width: 1fr;
    height: 1;

    Label {
      text-style: bold;
      width: 1fr;
      height: 1fr;
      text-align: center;
    }
  }

  .-even {
    background: $primary-background-darken-2;
  }

  .-odd {
    background: $primary-background-darken-1;
  }

  PendingTransfers {
    margin-bottom: 3;

    LoadingIndicator {
      margin-top: 2;
      height: 1;
    }
  }

  PendingTransfer {
    layout: horizontal;
    margin-bottom: 1;
    height: 3;

    Label {
      content-align: center middle;
      text-style: bold;
      width: 1fr;
      height: 1fr;
    }
  }

  CliveButton {
    width: 1fr;
  }

  .number-of-transfers {
    text-style: bold;
    background: $accent-lighten-1;
    width: 100%;
    text-align: center;
  }

  #savings-transfer-header {
    text-style: bold;
    margin-bottom: 1;
    text-align: center;
  }

  Body {
    grid-rows: auto;
    grid-gutter: 1;
    margin: 1 2;
    background: $panel;
    padding: 2 4;
    height: auto;
  }

  #operation-type-choose {
    align: center middle;
    layout: horizontal;
    margin-bottom: 1;
    width: 1fr;
    height: 3;
  }
}
