SetAccount ViewBag {
    layout: grid;
    grid-size: 5 4;
}

SetAccount ViewBag BigTitle {
    margin-top: 2;
    width: 100%;
    height: 5;
    row-span: 1;
    column-span: 5;
    content-align: center middle;
}

SetAccount ViewBag Label {
    width: 100%;
    height: 3;
    content-align: right middle;
}

SetAccount ViewBag Input {
    width: 100%;
    column-span: 4;
    margin-right: 5;
}
