.-hidden {
  display: none;
}

TabPane {
  /* We removed the bottom padding to ensure that scroll on tab-panes is displayed correctly */
  padding: 1 2 0 2;
}

RadioSet {
  background: $panel-darken-1 !important;

  & > RadioButton {
    &.-selected {
      background: transparent;
    }
  }

  &:focus {
    & > RadioButton.-selected {
      background: white;
    }
  }
}

Checkbox {
  &:focus {
    & > .toggle--label {
      background: white;
    }
  }
}

Select {
  OptionList {
    & > .option-list--option-highlighted {
      background: white;
    }
  }
}
