Screen {
  layers: base terminal footer notification;
}

Footer {
  layer: footer;
}

.-hidden {
  display: none;
}

AlarmDisplay {
  text-style: bold;
  color: $text;
  background: $error-lighten-3;
  padding: 0 1;
}

.-no-alarm {
  background: $success-lighten-3;
}

Tabs:focus .underline--bar {
  background: $foreground 100%;
}

Tabs:focus Tab.-active {
  text-style: bold reverse;
}


NumericInput Input {
  background: red !important;
}

NumericInput Pretty {
  background: blue !important;
}