.-hidden {
  display: none;
}

TabPane {
  /* We removed the bottom padding to ensure that scroll on tab-panes is displayed correctly */
  padding: 1 2 0 2;
}

Tabs {
  &:focus {
    .underline--bar {
      background: $foreground 100%;
    }

    Tab.-active {
      text-style: bold reverse;
    }
  }
}
