workflow:
  rules:
    - if: '$CI_MERGE_REQUEST_IID'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH || $CI_COMMIT_TAG'

include:
  # Main pipeline - skip when RENOVATE_RUN=true
  - local: '.gitlab/ci/main-pipeline.yml'
    rules:
      - if: '$RENOVATE_RUN == "true"'
        when: never
      - when: always

  # Renovate pipeline - only when RENOVATE_RUN=true
  - local: '.gitlab/ci/renovate.yml'
    rules:
      - if: '$RENOVATE_RUN == "true"'
