[default]
LOG_DIRECTORY = "" # if not given, logs will be placed in data directory
LOG_LEVELS = ["INFO"]  # possible values: ["DEBUG", "INFO", "WARNING", "ERROR"], multiple values could be given and logs from and up that level will be saved also in corresponding directories
LOG_LEVEL_3RD_PARTY = "WARNING"  # matters only for directories containing LOG_LEVEL higher than DEBUG, in DEBUG 3rd party logs are always DEBUG
LOG_KEEP_HISTORY = false  # whether to keep history of logs, if false - only logs of latest run will be kept
MAX_NUMBER_OF_TRACKED_ACCOUNTS = 6

[default.beekeeper]
REMOTE_ADDRESS = "" # required if not PATH given, url to http beekeeper server
COMMUNICATION_TOTAL_TIMEOUT_SECS = 15
INITIALIZATION_TIMEOUT_SECS = 5

[default.node]
# chain_id that will be set as default for all the profiles.
# If not given, still could be set by the CLI or will be retrieved from the node api when required.
# If given, will be used as default for all the profiles, but could be overwritten with CLI commands.
CHAIN_ID = "beeab0de00000000000000000000000000000000000000000000000000000000"
REFRESH_RATE_SECS = 1.5 # how often information about accounts are fetched from node
REFRESH_ALARMS_RATE_SECS = 30 # how often information about alarms are fetched from node
COMMUNICATION_TOTAL_TIMEOUT_SECS = 30

[dev]
IS_DEV = true
LOG_LEVELS = ["DEBUG"]
LOG_KEEP_HISTORY = true
LOG_DEBUG_LOOP = false
LOG_DEBUG_PERIOD_SECS = 1
