EscrowDispute Body {
  grid-size: 3;
  grid-columns: 13 3fr 1fr;
  grid-rows: 3 4 4 4;
  height: 20;
  margin: 0 4;
  background: $panel;
}

EscrowDispute PlaceTaker {
  row-span: 4;
}

EscrowDispute .label {
  padding: 1 1;
  text-align: right;
}

EscrowDispute #from-label {
  padding: 1 2;
}
