WitnessBlockApprove Body {
  grid-size: 2;
  grid-columns: 17 2fr 1fr;
  grid-rows: 6 5 4 4 4;
  height: 13;
  margin: 0 4;
  background: $panel;
}

WitnessBlockApprove .label {
  padding: 1 3;
  text-align: right;
  margin: 1 1;
}

WitnessBlockApprove Input{
    margin: 1 0;
    width: 120;
}
