$governance-green-color: $success-darken-3;
$governance-red-color: $error;

$table-info-headline: $accent-lighten-1;
$table-header-contrast-column: $warning-darken-2;

GovernanceActions {
  margin-left: 1;
  width: 3fr;
  #name-and-action {
    height: auto;
  }
  #action-row {
    background: $table-header-contrast-column;
    width: 1fr;
  }
  #actions-header {
    background: $table-info-headline;
  }
}
GovernanceActionRow {
  height: auto;
  .action-vote {
    background: $governance-green-color;
  }
  .action-unvote {
    background: $governance-red-color;
  }
  .action-pending {
    background: $panel-lighten-3;
  }
}
