TransferToVesting Body {
  grid-size: 3;
  grid-columns: 12 2fr 1fr;
  grid-rows: 3 4 4;
  height: 12;
  margin: 0 4;
  background: $panel;
}

TransferToVesting PlaceTaker {
  row-span: 2;
}

TransferToVesting #from-label {
  padding: 1 2;
}
