Cart ViewBag {
  overflow-y: hidden;
}

Cart StaticPart {
  height: auto;
}

Cart BigTitle {
  margin-top: 2;
  height: 5;
  content-align: center middle;
}

Cart ColumnLayout {
  layout: grid;
  grid-size: 6 1;
  grid-columns: 5 1fr 2fr 10 10 10;
  grid-gutter: 1;
  content-align: center middle;
  height: 3;
}

Cart .cell {
  background: $primary-background-darken-2;
  content-align: center middle;
  height: 3;
  width: 100%;
}

Cart .cell-variant {
  background: $primary-background-darken-1;
}

Cart CartOperationsHeader, Cart DetailedCartOperation {
  margin: 1;
}

Cart .deleted {
  display: none;
}

Cart ButtonsContainer {
  margin-right: 1;
  height: auto;
  align: right middle;
}

Cart ButtonOperations {
  margin-right: 1;
  background: $primary;
}

Cart ButtonSummary {
  background: $success;
}

Cart ButtonMoveUp, Cart ButtonMoveDown {
  background: $primary;
}

Cart ButtonMoveUp:focus, Cart ButtonMoveDown:focus {
  background: $primary-darken-1;
}

Cart ButtonDelete {
  background: $error;
}

Cart ButtonDelete:focus {
  background: $error-darken-1;
}

Cart Scrollable {
  overflow-y: scroll;
  height: 1fr;
}
