Operations DialogContainer #hint {
  text-align: center;
}

Operations DialogContainer > Button {
  width: 1fr;
  background: $primary;
}

Operations DialogContainer > Button:focus {
  background: $primary-darken-1;
}
