TransactionSummary ViewBag {
  overflow-y: hidden;
}

TransactionSummary StaticPart {
  height: auto;
}

TransactionSummary ScrollablePart {
  height: 1fr;
  padding-bottom: 1;
}

TransactionSummary ScrollablePart:focus {
  border-top: hkey $primary;
}

TransactionSummary BigTitle {
  margin-top: 2;
  height: 5;
  content-align: center middle;
}

TransactionSummary ActionsContainer {
  height: 3;
  margin: 0 1;
}

TransactionSummary SelectKey {
  width: 1fr;
}

TransactionSummary ActionsSpacer {
  width: 1fr;
}

TransactionSummary KeyHint {
  padding: 1;
  text-style: bold;
}

TransactionSummary ButtonBroadcast {
  background: $success;
}

TransactionSummary ButtonBroadcast:focus {
  background: $success-darken-1;
}

TransactionSummary ButtonSave {
  background: $primary;
}

TransactionSummary ButtonSave:focus {
  background: $primary-darken-1;
}

TransactionSummary TransactionHint {
  background: $panel;
  padding: 1;
  margin: 1;
}

TransactionSummary OperationItem {
  margin: 0 1;
  padding: 1;
  background: $panel;
}

TransactionSummary OperationItem.-even {
  background: $panel-lighten-1;
}
