CommandLine {
  dock: bottom;
  height: 1;

  CommandLinePrompt {
    dock: left;
    margin-left: 1;
    width: auto;

    .--active {
      color: $success;
    }
  }

  CommandLineInput {
    margin-left: 1;
    border: none !important;
    background: $panel;
    padding: 0;
  }
}
