CommandLinePrompt {
  dock: left;
  width: auto;
  margin-left: 1;
}

CommandLine {
  dock: bottom;
  height: 2;
}

CommandLineInput {
  margin-left: 1;
  border: none !important;
  padding: 0;
  background: $panel;
}

CommandLinePrompt.--active {
  color: $success;
}
