CommandLinePrompt {
  dock: left;
  margin-left: 1;
  width: auto;
}

CommandLine {
  dock: bottom;
  height: 2;
}

CommandLineInput {
  margin-left: 1;
  border: none !important;
  background: $panel;
  padding: 0;
}

CommandLinePrompt.--active {
  color: $success;
}
