CommandLinePrompt {
  dock: left;
  width: 8;
}

CommandLine {
  dock: bottom;
  height: 2;
}

CommandLineInput {
  margin-left: 1;
  border: none;
  padding: 0;
  background: $panel;
}

CommandLinePrompt.--active {
  color: $success;
}

TerminalScreen Logs {
  margin: 1 2;
  background: $panel;
}
