AuthorityInput {
    border: tall $primary;
}

AuthorityInputSwitch {
    content-align: center middle;
    layout: grid;
    grid-size: 3 1;
    width: 100%;
    border: tall $primary;
    height: 5;
    margin-bottom: 1;

}

AuthorityInputSwitch Static {
    content-align: center middle;
    height: 3;
}

AuthorityInputSwitch Switch {
    width: 100%;
}

.hidden {
    display: none;
}
