AuthorityForm ViewBag {
  overflow-y: hidden;
}

AuthorityForm BigTitle {
  margin-top: 2;
  height: 5;
  content-align: center middle;
}

AuthorityForm SubTitle {
  text-style: bold;
  content-align: center middle;
}

AuthorityForm Body {
  padding: 2 4;
}

AuthorityForm ModeSwitchContainer {
  height: auto;
}

AuthorityForm TreeFileSelector {
  overflow-y: hidden;
  min-height: 5;
}

AuthorityForm DirectoryTree {
  height: 1fr;
}

AuthorityForm ModeSwitchContainer Static {
  text-align: left;
  padding: 1 2;
}

AuthorityForm ButtonSave {
  background: $primary;
}

AuthorityForm ButtonSave:focus {
  background: $primary-darken-1;
}
