AuthorityForm ViewBag {
  margin: 0 5;
}

AuthorityForm BigTitle {
  margin-top: 2;
  height: 5;
  content-align: center middle;
}

AuthorityForm ButtonsContainer Button {
  width: 1fr;
}

AuthorityForm Input {
  width: 1fr;
  margin-bottom: 1;
}
