PowerUp {
  height: auto;

  Notice {
    margin-bottom: 1;
  }

  #input-with-button {
    margin-top: 1;
    height: auto;
  }
}

.horizontal-buttons {
  align: center middle;
  height: auto;

  CliveButton {
    margin: 1;
  }
}
