Header #icon {
  background: $foreground-darken-1 5%;
  content-align: center middle;
  width: auto;
}

Header HeaderTitle {
  background: $foreground -5%;
  height: 1;
  width: 1fr;
}

Header #profile-label #value {
  color: $accent;
}

Header #mode-label #value {
  color: $error;
}

Header #bar {
    background: $panel;
    height: 1;
}

Header #node-address-label {
  margin-top: 1;
}

Header.-active #mode-label #value {
  color: $success;
}
