Notification {
  dock: bottom;
  layer: notification;
  width: 100%;
  margin: 2 4;
  padding: 1 2;
  background: $background;
  color: $text;
  height: auto;
}

Notification.success {
  background: $success;
}

Notification.info {
  background: $accent-lighten-1;
}

Notification.warning {
  background: $warning;
}

Notification.error {
  background: $error;
}
