SelectFile Body {
  layout: grid;
  grid-size: 2;
  grid-columns: 24 1fr;
  grid-rows: 4 2 1fr;
}

SelectFile FilePathLabel {
  padding: 1 0;
}

SelectFile DirectoryTreeHint {
  column-span: 2;
  color: $text-muted;
}

SelectFile DirectoryTree {
  column-span: 2;
}
