Governance Tab {
    width: 1fr;
}

/* Proxy Tab*/

ProxyTab #proxy-vote-information {
    text-align: center;
    background: $primary-lighten-1;
    text-style: bold;
}

ProxyTab .action-proxy-label {
    width: 50%;
    text-align: center;
    background: $primary-lighten-1;
    height: 3;
    content-align: center middle;
    text-style: bold;
}

ProxyTab .empty {
    width: 10%;
}

ProxyTab ProxyPresent {
    height: auto;
    margin-top: 2;
}

ProxyTab ProxyPresent #current-proxy {
    text-align: center;
    background: $panel-lighten-2;
    text-style: bold;
}

ProxyTab ProxyPresent #delete-proxy-container{
    height: 3;
    margin-top: 1;
}

ProxyTab ProxyPresent #delete-proxy-button {
    width: 30%;
    background: $error-darken-1;
    text-style: bold;
}

ProxyTab ProxyAbsent {
    height: auto;
    margin-top: 2;
}

ProxyTab ProxyAbsent #set-proxy-container {
    height: 5;
    margin-top: 1;
}

ProxyTab ProxyAbsent #set-proxy-button {
    width: 30%;
}

ProxyTab ProxyAbsent #proxy-warning {
    text-align: center;
    content-align: center middle;
    margin-top: 1;
    background: $secondary-darken-3;
    text-style: bold;
}

/* WitnessesTab */

WitnessesTab SelectionList {
    height: auto;
    width: 40%;
}

WitnessesTab #test {
    height: 33;
}

WitnessesTab DataTable {
    width: 100%;
    height: 10;
}

WitnessesTab .vote-witness-information {
    background: $panel-lighten-3;
    width: 100%;
    text-style: bold;
    text-align: center;
}

WitnessesTab Input {
    width: 44%;
}

WitnessesTab DataTable Cell {
    width: 1;
}

/* Proposals */

ProposalsTab #proposal-container {
    height: 3;
    width: 100%;
}

ProposalsTab Proposal {
    height: 3;
    margin-top: 1;
}

ProposalsTab #proposal-parameters {
    height: 3;
    width: 100%;
}

ProposalsTab #proposal-pay {
    background:  $panel-lighten-1;
    text-style: bold;
}

ProposalsTab #proposal-author {
    background:  $panel-lighten-2;
    text-style: bold;
}

ProposalsTab #proposal-title {
    background:  $primary-lighten-1;
    text-style: bold;
}

ProposalsTab #proposale {
    width: 39%;
}

ProposalsTab #list-proposals {
    height: 40;
}

ProposalsTab #voted-proposals {
    width: 25%;
    margin-left: 1;
}

ProposalsTab #vote-proposals {
    background: $primary-lighten-1;
    text-style: bold;
    text-align: center;
}

ProposalsTab #first-proposal {
    background: $accent-lighten-1;
    text-style: bold;
    text-align: center;
    width: 94%;
}

ProposalsTab #delete-vote-proposals {
    text-align: center;
    text-style: bold;
    width: 25%;
    background: $primary-lighten-2;
    margin-left: 2;
}

ProposalsTab #proposal-x {
}

ProposalsTab #remove {
    text-align: center;
    text-style: bold;
    width: 6%;
    background: $error-darken-3;
}