/*common parts of governance*/
Governance Tab {
  width: 1fr;
}

Governance CliveTabbedContent Static {
  text-style: bold;
  text-align: center;
}

Governance Button:focus {
  text-style: bold reverse;
}

/* Proxy */
Governance Proxy .current-proxy-static {
  background: $accent-lighten-1;
  width: 1fr;
  height: 1;
}

Governance Proxy AccountNameInput {
  margin-top: 1;
  margin-bottom: 1;
  height: 3;
}

Governance Proxy #set-button-container {
  align: center middle;
  height: 4;
}

Governance Proxy #set-proxy-button {
  background: green;
  color: white;
}

Governance Proxy #proxy-set-information {
  background: $accent-lighten-2;
}

Governance Proxy #modify-proxy-buttons {
  align: center middle;
  height: 3;
}

Governance Proxy #change-proxy-button {
  margin-right: 3;
  background: green;
}

Governance Proxy #remove-proxy-button {
  margin-left: 3;
  background: red 70%;
}

/* WITNESSES */

Governance Witnesses Label {
  text-style: bold;
  width: 1fr;
  text-align: center;
}

Governance Witnesses Static {
  text-style: bold;
  text-align: center;
}

DetailsScreen {
  align: center middle;
}

DetailsScreen Static {
  border: $primary-lighten-3;
  width: 60%;
  text-align: left;
}

/* WITNESSES */
Governance Witnesses {
  layout: vertical;
  padding: 0 0 0 1;
  height: auto;
}

Governance Tooltip {
  padding-right: 4;
  text-align: left;
}

Governance WitnessDetails {
  border: blue;
  width: 1fr;
  height: auto;
  text-align: center;
}

Governance WitnessDetails Static {
  height: auto;
}

/*table to modify votes for the witnesses*/
Governance WitnessesList {
  height: auto;
  max-height: 30;
}

Governance WitnessesList Witness {
  grid-size: 5;
  grid-columns: 20% 11% 35% 20% 14%;
  height: 1;
}

/* Could be done better, for not just so focus could be visible */
Governance Witness:focus {
  background: rgba(0, 0, 0, 1);
}

Governance Witness.dimmed {
  opacity: 0.7;
}

Governance Witness .witness-name-even {
  background: rgb(83, 158, 255);
}

Governance Witness .witness-rank-even {
  background: rgb(1, 120, 212);
}

Governance Witness .witness-votes-even {
  background: rgb(1, 120, 212);
}

Governance Witness .witness-details-even {
  background: rgb(0, 83, 170);
}

Governance Witness .witness-name-odd {
  background: rgb(128, 128, 128);
}

Governance Witness .witness-rank-odd {
  background: rgb(96, 96, 96);
}

Governance Witness .witness-votes-odd {
  background: rgb(64, 64, 64);
}

Governance Witness .witness-details-odd {
  background: rgb(96, 96, 96);
}

Governance WitnessesListHeader {
  grid-size: 5;
  grid-columns: 20% 11% 35% 20% 14%;
  height: auto;
}

Governance WitnessesListHeader #rank-column {
  background: rgb(254, 166, 43);
}

Governance WitnessesListHeader #name-column {
  background: rgb(0, 83, 170);
}

Governance WitnessesListHeader #votes-column {
  background: rgb(0, 83, 170);
}

Governance #witnesses-headline {
  background: rgb(83, 158, 255);
}

Governance WitnessesTable {
  width: 75%;
  height: auto;
  max-height: 32;
}

Governance WitnessesTable:focus {
  background: rgba(0, 0, 0, 0.5);
}
/* a table with the actions to be performed after the creation of the operation */

Governance WitnessesActions {
  margin-left: 1;
  width: 25%;
  max-height: 31;
}

Governance #action-row {
  background: rgb(255, 186, 65);
  width: 32%;
}

Governance #witness-row {
  background: rgb(0, 83, 170);
  width: 68%;
}

Governance #witnesses-actions-header {
  background: rgb(83, 158, 255);
}

Governance WitnessActionRow .action-witness-name {
  width: 68%;
}

Governance WitnessActionRow .action-vote {
  background: green;
}

Governance WitnessActionRow .action-unvote {
  background: red;
}

Governance WitnessActionRow .action-pending {
  background: grey;
}

Governance WitnessActionRow .action-label {
  width: 32%;
}

Governance WitnessActionRow {
  height: 1;
}

Governance WitnessesActions #name-and-action {
  height: 1;
}

/* manual search witness */
Governance WitnessManualSearch {
  margin-left: 1;
  width: 1fr;
  height: 5;
}

Governance CliveButton {
  margin-right: 1;
  margin-left: 1;
  width: 40%;
}

Governance #witness-search-button {
  background: green;
}

CliveButton:focus {
  text-style: bold reverse;
}

Governance #witness-vote-actions {
  width: 1fr;
  height: auto;
  max-height: 32;
}

Governance #clear-custom-witnesses-button {
  background: rgb(33, 50, 180);
}

Governance #inputs-with-static-manual {
  width: 65%;
}

Governance #search-and-clear-buttons {
  align: center top;
  margin-top: 1;
  width: 35%;
  height: auto;
}

Governance WitnessManualSearch Vertical {
  height: auto;
}

Governance #witness-pattern-input-with-label {
  width: 70%;
}

Governance #witness-input-limit-with-label {
  width: 30%;
}

Governance WitnessManualSearch Label {
  padding: 0;
}
