WitnessCheckbox Label {
  width: 1fr;
  text-align: center;
}

WitnessCheckbox CheckBoxWithoutFocus {
  border: none;
  background: transparent;
  padding: 0;
  width: auto;
}

WitnessCheckbox:disabled {
  background: rgba(0, 0, 0, 0.3);
}

WitnessCheckbox {
  layout: horizontal;
  width: auto;
  height: auto;
}

WitnessCheckbox.-voted {
  color: $success-darken-3;
}

WitnessCheckbox.-unvoted {
  color: $error;
}

WitnessCheckbox:focus Label {
  text-style: bold reverse;
}
