Unlock {
  LabelizedInput {
    margin-bottom: 1;
  }

  UnlockModeTimeContainer {
    margin: 1 0;
    height: auto;
  }

  ButtonsContainer {
    height: auto;

    Button {
      width: 1fr;
    }

    #unlock-button {
      margin-right: 1;
    }
  }
}
