$working-color: $primary-darken-2;
$watched-color: $secondary-darken-2;

Dashboard {
  AccountsContainer {
    height: auto;
  }

  WorkingAccountContainer,
  WatchedAccountContainer {
    border-title-color: $text;
    border-title-style: bold;

    AlarmDisplay {
      #alarm-display-button {
        margin-left: 1;
        width: 25;
      }
    }

    #account-details-button {
      margin-left: 1;
      width: 22;
    }

    RemoveTrackedAccountButton {
      opacity: 90%;
      width: 3;
      min-width: 3;
    }
  }

  WorkingAccountContainer {
    border-title-background: $working-color;
    border: $working-color;
  }

  WatchedAccountContainer {
    border-title-background: $watched-color;
    border: $watched-color;

    Rule {
      margin: 0;
      color: $primary-lighten-1;
    }
  }

  TrackedAccountRow {
    box-sizing: content-box;
    background: $background;
    height: 6;

    &:focus {
      background-tint: $foreground 20%;
    }

    #tables {
      width: 8fr;
    }
  }

  TrackedAccountInfo {
    width: 3fr;

    #account-alarms-and-details {
      margin-bottom: 1;
      width: 1fr;
      height: auto;

      #details-remove-buttons-container {
        height: 1;
      }
    }
  }

  ManabarStats {
    layout: grid;
    grid-size: 3 1;
    margin-bottom: 1;
    margin-left: 2;
    height: 2;

    .even-manabar {
      background: $panel-lighten-1;
    }

    .odd-manabar {
      background: $panel-lighten-2;
    }
  }

  ManabarRepresentation {
    layout: grid;
    grid-size: 10 2;
    width: 100%;
    height: 2;

    DynamicLabel {
      align: center middle;
      width: 1fr;
    }

    .percentage {
      column-span: 10;
    }

    .time {
      column-span: 6;
      background: $panel;
    }

    .hivepower-value {
      column-span: 4;
      background: $panel-darken-1;
    }
  }

  BalanceStats {
    layout: grid;
    grid-size: 3;
    height: 3;

    DynamicLabel {
      align: center middle;
      width: 1fr;
    }

    BalanceStatsButton OneLineButton {
      width: 1fr;
      text-align: right;
    }

    .title {
      margin-left: 2;
      text-align: center;
    }

    .liquid {
      background: $primary-darken-3;
    }

    .savings {
      background: $primary-darken-1;
    }

    .stake {
      background: $primary-lighten-2;
    }
  }
}
