$success-header-color: $success-darken-3;

CliveRawHeader {
  box-sizing: content-box;
  border-bottom: inner $error-darken-1;

  HeaderTitle {
    width: 1fr;
    height: 1;
  }

  HeaderIcon {
    content-align: center middle;
    width: auto;
  }
}

CliveHeader {
  &.-unlocked {
    border-bottom: inner $success;
  }

  LeftPart {
    #profile-name {
      color: $primary-darken-1;
    }

    #separator {
      margin-left: 1;
      width: auto;
    }

    WorkingAccountButton {
      OneLineButton {
        min-width: 5;
      }
    }

    BlockDisplay {
      width: auto;
    }
  }

  RightPart {
    align: right middle;

    NodeStatus {
      OneLineButton {
        min-width: 6;
      }
    }

    #node-type {
      margin-right: 1;
      margin-left: 1;

      &.-not-mainnet {
        color: $warning-lighten-2;
      }

      &.-mainnet {
        color: $success-header-color;
      }

      &.-no-connection {
        color: $error;
      }
    }

    ConfigButton {
      min-width: 10;
    }
  }
}
