FeedPublish Body {
  grid-size: 3;
  grid-columns: 20 2fr 1fr;
  grid-rows: 3 1 4 4 4 4;
  height: 13;
  margin: 0 4;
  background: $panel;
}

FeedPublish ExchangeRateTaker{
    row-span: 2;
}

FeedPublish .label {
  padding: 1 4;
  text-align: right;
}

FeedPublish #publisher-label {
  padding: 1 1;
}
