Savings {
  Tab {
    width: 1fr;
  }

  #savings-info-container {
    max-height: 3;

    SavingsBalancesTable {
      width: 1fr;
      height: auto;

      SavingsBalancesHeader {
        #savings-title {
          background: $primary-background;
        }
      }

      Static {
        text-style: bold;
        align: center middle;
        width: 1fr;
        text-align: center;
      }
    }

    SavingsInterestInfo {
      margin-left: 2;
      width: 50%;
      height: auto;

      Horizontal {
        height: auto;
      }

      Container {
        height: auto;
      }

      DynamicLabel {
        text-style: bold;
        align: center middle;
        width: 1fr;
        height: 1fr;
      }

      Static {
        text-style: bold;
        text-align: center;
      }

      .interest-info-row-odd {
        background: $accent;
      }

      .interest-info-row-even {
        background: $accent-lighten-1;
      }
    }
  }

  SavingsTransfers {
    Notice {
      margin-bottom: 1;
    }
  }

  PendingTransfers {
    PendingTransfersHeader {
      width: 1fr;
      height: 1;

      Label {
        text-style: bold;
        width: 1fr;
        height: 1fr;
        text-align: center;
      }
    }

    CliveCheckerBoardTableCell {
      height: 3;
    }

    CliveButton {
      width: 1fr;
    }

    #loading-static {
      background: $primary;
    }
  }

  #savings-transfer-type-header {
    text-style: bold;
    text-align: center;
  }

  Body {
    grid-rows: auto;
    grid-gutter: 1;
    height: auto;

    TransactionButtons {
      margin-top: -1;
    }
  }

  #operation-type-choose {
    align: center middle;
    layout: horizontal;
    margin-bottom: 1;
    width: 1fr;
    height: 3;
  }

  .horizontal-buttons {
    align: center middle;
    height: auto;

    CliveButton {
      margin: 1;
    }
  }
}
