Quit {
  #hint {
    color: $text-muted;
  }

  #question,
  #hint {
    content-align: center middle;
  }

  #buttons {
    height: auto;

    Button {
      width: 1fr;
    }
  }

  #quit {
    margin-right: 1;
  }
}
