Quit {
  #hint {
    color: $text-muted;
  }

  #question,
  #hint {
    content-align: center middle;
  }

  Button {
    width: 1fr;
  }

  #buttons {
    height: auto;
  }

  #quit {
    margin-right: 1;
  }
}
