Quit #hint {
  color: $text-muted;
}

Quit #question,
Quit #hint {
  content-align: center middle;
}

Quit Button {
  width: 1fr;
}

Quit #buttons {
  height: auto;
}

Quit #quit {
  margin-right: 1;
}
