DeclineVotingRights Body {
  grid-size: 2;
  grid-columns: 11 2fr 1fr;
  grid-rows: 5;
  height: 11;
  margin: 0 4;
  background: $panel;
}

DeclineVotingRights .label {
  padding: 2 2;
  text-align: right;
}

DeclineVotingRights Input{
    width: 120;
    margin: 1 1;
}
