$governance-green-color: $success-darken-3;
$governance-red-color: $error;
$table-row-odd-color: $secondary-darken-1;
$table-row-even-color: $panel-darken-1;
$table-header-color: $primary;
$table-header-color-2: $primary-lighten-3;

Witnesses {
  layout: vertical;
  height: auto;

  Label {
    width: 1fr;
    text-align: center;
  }

  Static {
    text-align: center;
  }

  #witnesses-content {
    height: auto;
  }

  Witness {
    grid-size: 5;
    grid-columns: 2fr 1fr 3fr 2fr 2fr;
    height: auto;

    WitnessDetailsLabel {
      &:hover {
        background: $panel;
      }
    }

    .witness-row-even {
      background: $table-row-even-color;
    }

    .witness-row-odd {
      background: $table-row-odd-color;
    }
  }

  WitnessesListHeader {
    grid-size: 5;
    grid-columns: 2fr 1fr 3fr 2fr 2fr;
    height: 2;

    .witnesses-table-header {
      background: $table-header-color;
    }

    .witness-name-header {
      background: $table-header-color-2;
    }
  }

  WitnessesTable {
    width: 7fr;
    height: auto;

    SectionTitle {
      column-span: 5;
    }
  }

  WitnessesActions {
    #action-name-row {
      background: $table-header-color;
      width: 2fr;
    }
  }

  WitnessActionRow {
    .action-identifier {
      width: 4fr;
    }

    .action-label {
      width: 2fr;
    }
  }

  WitnessManualSearch {
    grid-size: 4 1;
    grid-gutter: 1;
    grid-rows: auto;
    dock: bottom;
    margin-bottom: 1;
    height: auto;

    OneLineButton {
      margin-top: 1;
    }

    CliveButton {
      width: 1fr;
    }
  }
}
