CliveHeader {
  box-sizing: content-box;
  border-bottom: inner $error-darken-1;

  HeaderIcon {
    content-align: center middle;
    width: auto;
  }

  HeaderTitle {
    width: 1fr;
    height: 1;
  }

  #profile-name {
    color: $accent;
  }

  #separator {
    margin-left: 1;
    width: auto;
  }

  WorkingAccountButton {
    OneLineButton {
      min-width: 5;
    }
  }

  AlarmsSummary {
    margin-left: 1;
    width: 15;
  }

  #mode-display {
    text-style: bold;
    margin-left: 25;
    background: $error-lighten-3;
    padding: 0 1 0 1;
    color: $text;
  }

  BlockDisplay {
    width: auto;
  }

  #node-type {
    margin-right: 1;
    margin-left: 1;
    color: green;

    .-not-mainnet {
      color: red;
    }
  }

  #bar {
    background: $panel;
    height: 1;
  }
}

CliveHeader.-unlocked {
  border-bottom: inner $success;
}

CliveHeader.-unlocked #mode-display {
  background: $success-darken-3;
}
