$success-header-color: $success-darken-3;

CliveHeader {
  box-sizing: content-box;
  border-bottom: inner $error-darken-1;

  HeaderIcon {
    content-align: center middle;
    width: auto;
  }

  HeaderTitle {
    width: 1fr;
    height: 1;
  }

  #profile-name {
    color: $accent;
  }

  #separator {
    margin-left: 1;
    width: auto;
  }

  WorkingAccountButton {
    OneLineButton {
      min-width: 5;
    }
  }

  Center {
    width: 2fr;
    height: auto;
  }

  #node-status-container {
    align: right middle;
  }

  NodeStatus {
    margin-right: 1;

    OneLineButton {
      min-width: 6;
    }
  }

  DynamicPropertiesClock {
    width: auto;
  }

  #node-type {
    margin-right: 1;
    margin-left: 1;
    color: $success-header-color;

    &.-not-mainnet {
      color: $warning-lighten-2;
    }
  }

  #bar {
    background: $panel;
    height: 1;
  }
}

CliveHeader.-unlocked {
  border-bottom: inner $success;
}
