DialogContainer {
  align: center middle;

  ScrollablePart {
    align: center middle;
    height: 1fr;
  }

  DialogBody {
    align: center middle;
    border: tall $background;
    background: $panel;
    padding: 1 2;
    width: 60vw;
    max-width: 132;
    height: auto;
    max-height: 24;
  }
}
