DialogContainer {
  align: center middle;

  ScrollablePart {
    align: center middle;
    height: 1fr;
  }

  SectionTitle {
    width: 60vw;
    height: auto;
  }

  DialogBody {
    align: center middle;
    background: $panel;
    padding: 1 2;
    width: 60vw;
    max-width: 132;
    height: auto;
    max-height: 24;
  }
}
