Header {
  border-bottom: inner $error;
  box-sizing: content-box;
}

Header.-active {
  border-bottom: inner $success;
}

Header #icon {
  background: $foreground-darken-1 5%;
  content-align: center middle;
  width: auto;
}

Header HeaderTitle {
  background: $foreground -5%;
  height: 1;
  width: 1fr;
}

Header DynamicPropertiesClock {
  height: 1;
  width: auto;
  background: $foreground-darken-1 5%;
  color: $text;
}

Header DynamicPropertiesClock DynamicLabel {
  background: $foreground -5%;
  content-align: center middle;
  margin-left: 1;
  padding: 0 1;
}

Header DynamicPropertiesClock #last_update {
  background: $foreground -5%;
  width: 30;
}

Header TitledLabel {
  padding: 0 1;
}

Header #profile-label #value {
  color: $accent;
}

Header #mode-label #value {
  color: $error;
}

Header #bar {
  background: $panel;
  height: 1;
}


Header.-active #mode-label #value {
  color: $success;
}

Header AlarmsSummary {
  width: 1fr;
  align: center middle;
}
