Header {
  border-bottom: inner $error;
  box-sizing: content-box;
}

Header.-active {
  border-bottom: inner $success;
}

Header #icon {
  background: $foreground-darken-1 5%;
  content-align: center middle;
  width: auto;
}

Header HeaderTitle {
  background: $foreground -5%;
  height: 1;
  width: 1fr;
}

Header DynamicPropertiesClock {
  width: auto;
}

Header DynamicPropertiesClock #last_update {
  width: 30;
}

Header TitledLabel {
  margin-right: 1;
}

Header #node-type-label {
  margin-left: 1;
  margin-right: 1;
  color: green;
}

Header #node-type-label.-not-mainnet {
  color: red;
}

Header #profile-label #value {
  color: $accent;
}

Header #mode-label #value {
  color: $error;
}

Header #bar {
  background: $panel;
  height: 1;
}


Header.-active #mode-label #value {
  color: $success;
}

Header AlarmsSummary {
  width: 1fr;
  align: center middle;
}
