Header {
  box-sizing: content-box;
  border-bottom: inner $error;
}

Header.-active {
  border-bottom: inner $success;
}

Header #icon {
  content-align: center middle;
  background: $foreground-darken-1 5%;
  width: auto;
}

Header HeaderTitle {
  background: $foreground -5%;
  width: 1fr;
  height: 1;
}

Header DynamicPropertiesClock {
  width: auto;
}

Header DynamicPropertiesClock #last-update {
  width: 28;
}

Header TitledLabel {
  margin-right: 1;
}

Header #node-type-label {
  margin-right: 1;
  margin-left: 1;
  color: green;
}

Header #node-type-label.-not-mainnet {
  color: red;
}

Header #profile-label #value {
  color: $accent;
}

Header #mode-label #value {
  color: $error;
}

Header #bar {
  background: $panel;
  height: 1;
}

Header.-active #mode-label #value {
  color: $success;
}

Header AlarmsSummary {
  align: center middle;
  width: 1fr;
}
