SelectFile FilePathInputContainer {
  height: auto;
}

SelectFile FilePathLabel {
  padding: 1 2;
}

SelectFile Input {
  width: 1fr;
}

SelectFile DirectoryTreeHint {
  color: $text-muted;
}

SelectFile DirectoryTree {
  min-height: 3;
}
