SelectFile {
  FilePathInputContainer {
    height: auto;
  }

  FilePathLabel {
    padding: 1 2;
  }

  Input {
    width: 1fr;
  }

  DirectoryTreeHint {
    color: $text-muted;
  }

  DirectoryTree {
    min-height: 3;
  }
}
