SwitchWorkingAccountContainer {
  align: center top;

  Section {
    width: 60%;

    NoWorkingAccountRadioButton {
      color: $accent-lighten-3;
    }

    RadioSet {
      NoContentAvailable {
        margin-left: 1;
      }
    }
  }
}
