PowerUp {
  height: auto;
}

Notice {
  margin-top: 1;
  margin-bottom: 1;
}

#tab-pane-header {
  text-style: bold;
  text-align: center;
}

#power-up-inputs {
  grid-size: 2;
  grid-columns: 1fr 13;
  grid-gutter: 1;
  grid-rows: 4;
  height: auto;
}

AccountNameInput {
  column-span: 2;
  height: auto;
}

#power-up-information {
  text-style: bold;
  margin-top: 3;
  background: $accent-lighten-2;
  width: 1fr;
  text-align: center;
}

CliveButton {
  background: $success-darken-3;
  width: 14;
  height: auto;
}
