PowerUp {
  height: auto;

  ScrollablePart {
    height: auto;
  }

  Notice {
    margin-bottom: 1;
  }

  #power-up-inputs {
    background: $panel;
    padding: 2 2;
    height: auto;
  }

  #input-with-button {
    margin-top: 1;
    height: auto;
  }
}
