RemoveProposal Body {
  grid-size: 3;
  grid-columns: 18 2fr 1fr;
  grid-rows: 5;
  margin: 0 4;
  background: $panel;
  height: 9;
}

RemoveProposal PlaceTaker {
  row-span: 2;
}

RemoveProposal #owner-label {
  padding: 1 1;
}
