CreateProfileCommon DialogContainer {
  grid-columns: 20 1fr;
  grid-rows: 4;
  grid-size: 2;
  layout: grid;
}

CreateProfileCommon Button {
  margin: 0 1;
  width: 100%;
}

CreateProfileCommon .label {
  padding: 1 2;
  text-align: right;
}
