ManageKeyAliases ColumnLayout {
  layout: grid;
  grid-size: 10 1;
  grid-gutter: 1;
  content-align: center middle;
  margin-top: 1;
  height: 3;
}

ManageKeyAliases .OddColumn {
  content-align: center middle;
  background: $primary-background-darken-1;
  width: 100%;
  height: 3;
}

ManageKeyAliases .EvenColumn {
  content-align: center middle;
  background: $primary-background-darken-2;
  width: 100%;
  height: 3;
}

ManageKeyAliases KeyAliasesHeader {
  margin: 0 1;
}

ManageKeyAliases ScrollablePart {
  height: 1fr;
}

ManageKeyAliases KeyAlias {
  margin: 1;
}

KeyAlias #remove_key_alias_button {
  content-align: center middle;
  column-span: 1;
  background: $error;
  width: 100%;
}
KeyAlias #remove_key_alias_button:focus {
  background: $error-darken-1;
}

KeyAlias #edit_key_alias_button {
  content-align: center middle;
  column-span: 1;
  background: $primary;
  width: 100%;
}

KeyAlias #edit_key_alias_button:focus {
  background: $primary-darken-1;
}

ManageKeyAliases #key_alias_row_number {
  column-span: 1;
}

ManageKeyAliases #key_alias_name {
  column-span: 3;
}

ManageKeyAliases #key_alias_public_key {
  column-span: 4;
}

ManageKeyAliases #actions {
  column-span: 2;
}
