Cart StaticPart {
  height: auto;
}

Cart ColumnLayout {
  layout: grid;
  grid-size: 6 1;
  grid-columns: 5 1fr 2fr 10 10 10;
  grid-gutter: 1;
  height: 3;
}

Cart .cell {
  background: $primary-background-darken-2;
  width: 100%;
  height: 3;
}

Cart .cell-middle {
  content-align: center middle;
  align: center middle;
}

Cart .cell-variant {
  background: $primary-background-darken-1;
}

Cart CartHeader {
  margin: 0 1;
}

Cart CartItem {
  margin: 1;
}

Cart #actions {
  column-span: 3;
}

Cart ButtonMoveUp,
Cart ButtonMoveDown {
  background: $primary;
}

Cart ButtonMoveUp:focus,
Cart ButtonMoveDown:focus {
  background: $primary-darken-1;
}

Cart ButtonDelete {
  background: $error;
}

Cart ButtonDelete:focus {
  background: $error-darken-1;
}

Cart CartItem:focus-within {
  background: $primary-background;
}
