Cart {
  StaticPart {
    height: auto;
  }

  CartTable {
    CliveCheckerBoardTableCell {
      height: 3;
    }

    CartHeader {
      height: 1;

      Static {
        width: 1fr;
        text-align: center;
      }
    }

    CartItem {
      &:focus-within {
        opacity: 93%;
        background: $accent;
      }
    }

    .operation-name {
      width: 3fr;
    }

    .operation-details {
      width: 5fr;
    }

    .actions {
      width: 3fr;
    }

    ButtonMoveDown {
      margin: 0 1;

      &:focus {
        background: $primary-darken-1;
      }
    }

    ButtonMoveUp {
      &:focus {
        background: $primary-darken-1;
      }
    }

    ButtonDelete {
      &:focus {
        background: $error-darken-1;
      }
    }

    CliveButton {
      width: 33%; /* solution described here: https://gitlab.syncad.com/hive/clive/-/merge_requests/388#note_169849 */
      min-width: 1;
    }
  }
}
