$titles-border-color: $primary-darken-1;
$containers-border-color: $primary-lighten-1;

Operations OperationButton {
  background: $primary;
  text-align: center;
  width: 140;
  margin-left: 25;
}

Operations DialogContainer > Button:focus {
  background: $primary-darken-1;
}

Operations .operations-scroll {
    height: 14;
    border: $containers-border-color;
}

Operations BigTitle {
    margin: 1 0 0 0;
    border: $titles-border-color;
}

Operations .social-operations {
    border: $containers-border-color;
    height: 14;
}

Operations .categories-description{
    height: 14;
    border: $containers-border-color;
}

Operations .seperator {
    padding: -5 0;
}
