TransferToAccount {
  SectionTitle {
    margin: 0 4;
    width: 100%; /* Width is set to 100% due to textual error. More info: https://github.com/Textualize/textual/issues/4332 */
  }

  Body {
    grid-rows: auto;
    grid-gutter: 1;
    margin: 0 4;
    background: $panel;
    padding: 2 4;
    width: 100%;
    height: auto;
  }
}
