TransferToAccount Body {
  grid-size: 3;
  grid-columns: 11 2fr 23%;
  margin: 0 4;
  background: $panel;
}

TransferToAccount #from-label {
  padding: 1 2;
}

TransferToAccount KnownAccount {
  column-span: 1;
}
