SetNodeAddress BigTitle {
  margin-top: 2;
  height: 5;
  content-align: center middle;
}

SetNodeAddress Body {
  padding: 2 4;
}

SetNodeAddress NodesList, SetNodeAddress ManualNode, SetNodeAddress ModeSwitchContainer {
  height: auto;
}

SetNodeAddress NodesList.-hidden, SetNodeAddress ManualNode.-hidden {
  display: none;
}

SetNodeAddress ModeSwitchContainer Static {
  text-align: left;
  padding: 1 2;
}

SetNodeAddress ManualNode Button {
  background: $primary;
  margin-top: 1;
}
