SetNodeAddressForm BigTitle {
  margin-top: 2;
  height: 5;
  content-align: center middle;
}

SetNodeAddressForm Body {
  padding: 2 4;
}

SetNodeAddressForm NodesList, SetNodeAddressForm ManualNode, SetNodeAddressForm ModeSwitchContainer {
  height: auto;
}

SetNodeAddressForm ModeSwitchContainer Static {
  text-align: left;
  padding: 1 2;
}

SetNodeAddressForm ManualNode Button {
  background: $primary;
  margin-top: 1;
}
