SetNodeAddressBase BigTitle {
  margin-top: 2;
  height: 5;
  content-align: center middle;
}

SetNodeAddressBase Body {
  padding: 2 4;
}

SetNodeAddressBase NodesList, SetNodeAddressBase ManualNode, SetNodeAddressBase ModeSwitchContainer {
  height: auto;
}

SetNodeAddressBase ModeSwitchContainer Static {
  text-align: left;
  padding: 1 2;
}

SetNodeAddressBase ManualNode Button {
  background: $primary;
  margin-top: 1;
}
