UpdateProposalVotes Body {
  grid-size: 3;
  grid-columns: 16 2fr 1fr;
  grid-rows: 3 4 4 4 4;
  height: 12;
  margin: 0 4;
  background: $panel;
}

UpdateProposalVotes PlaceTaker {
  row-span: 3;
}

UpdateProposalVotes .label {
  padding: 1 2;
  text-align: right;
}

UpdateProposalVotes #voter-label {
  padding: 1 2;
}
