FinishFormScreen Description {
  content-align: center middle;
  margin: 1;
}

FinishFormScreen ButtonsContainer {
  height: auto;
}

FinishFormScreen Button {
  background: $primary-background-darken-2;
  width: 1fr;
}

FinishFormScreen #finish-button {
  margin-right: 1;
}
