WelcomeFormScreen WelcomeTitle {
	content-align: center middle;
	text-align: center;
	margin: 1;
}

WelcomeFormScreen DialogContainer Button {
	width: 100%;
	background: $primary-background-darken-2;
}
