WelcomeFormScreen {
  DialogBody {
    max-height: 26;
  }

  WelcomeTitle {
    content-align: center middle;
    margin: 1;
    text-align: center;
  }

  Button {
    width: 1fr;
  }

  CliveCollapsible {
    margin-bottom: 1;
  }
}
