WelcomeFormScreen {
  WelcomeTitle {
    content-align: center middle;
    margin: 1;
    text-align: center;
  }

  Button {
    width: 1fr;
  }

  SectionBody {
    margin-bottom: 1;
    background: $panel-lighten-1;
    padding: 0;
  }
}
