ManageAccountsTabPane {
  align: center middle;

  ScrollablePart {
    width: 50%;
  }

  AddAccountContainer Section SectionBody {
    layout: horizontal;
  }

  ManageAccountsTable {
    margin-top: 1;
  }
}
