SetAccount {
  SectionScrollable {
    padding: 1 4 0 4; /* TODO: change to margin after bumping textual to 0.58.0 due to margin bug */
  }

  AccountNameInput {
    height: auto;

    InputLabel {
      width: 18;
    }
  }

  WorkingAccountCheckbox {
    margin-top: 1;
  }
}
