SetAccount Body {
  padding: 2 4;
}

SetAccount AccountNameInputContainer {
  height: auto;
}

SetAccount #account-name-label {
  padding: 1 2;
  width: 1fr;
}

SetAccount #account-name-at {
  padding: 1 2;
  text-align: right;
  text-style: bold;
  color: $secondary;
  width: auto;
}

SetAccount AccountNameInputContainer Input {
  width: 3fr
}
