ManageAuthorities AuthorityTitle {
  layout: grid;
  grid-size: 10 1;
  height: 5;
  width: 100%;
  border: $primary;
}

ManageAuthorities ColumnLayout {
  layout: grid;
  grid-size: 10 1;
  grid-gutter: 1;
  content-align: center middle;
  margin-top: 1;
  height: 3;
}

ManageAuthorities .OddColumn {
  background: $primary-background-darken-1;
  content-align: center middle;
  height: 3;
  width: 100%;
}

ManageAuthorities .EvenColumn {
  background: $primary-background-darken-2;
  content-align: center middle;
  height: 3;
  width: 100%;
}

Authority #remove_authority_button {
  content-align: center middle;
  column-span: 1;
  width: 100%;
}

Authority #edit_authority_button {
  content-align: center middle;
  column-span: 1;
  width: 100%;
}

ManageAuthorities .deleted {
  display: none;
}

ManageAuthorities #authority_row_number {
  column-span: 1;
}

ManageAuthorities #authority_name {
  column-span: 4;
}

ManageAuthorities #authority_type {
  column-span: 3;
}

AuthorityTitle #authorities_title_label {
  content-align: center middle;
  column-span: 8;
  height: 3;
}

AuthorityTitle #add_authority_button {
  column-span: 2;
  width: 100%;
  margin-right: 1;
  margin-left: 1;
}
