$info-color: $accent;

HpVestsFactor {
  margin-bottom: 1;
}

#input-with-button {
  background: $panel;
  padding: 2 2;
  height: auto;
}

#operation-name-info {
  text-style: bold;
  margin-bottom: 1;
  background: $info-color;
  width: 1fr;
  height: 1;
  text-align: center;
}

WithdrawRoutesDisplay {
  height: auto;

  Pretty {
    content-align: center middle;
    width: 1fr;
  }

  #withdraw-routes-header {
    text-style: bold;
    margin-top: 1;
    background: $primary;
    width: 1fr;
    height: 1;
    text-align: center;
  }
}

PendingPowerDown {
  height: auto;

  CliveButton {
    width: 1fr;
  }

  #loading-static {
    margin-top: 1;
    background: $primary;
  }

  #current-power-down-title {
    text-style: bold;
    margin-top: 1;
    background: $primary;
    width: 1fr;
    height: 1;
    text-align: center;
  }

  #no-current-power-down-info {
    text-style: bold;
    margin-top: 1;
    background: $primary;
    width: 1fr;
    height: 1;
    text-align: center;
  }
  PendingPowerDownHeader {
    height: 1;

    Static {
      text-style: bold;
      width: 1fr;
      text-align: center;
    }
  }
}
