$general-color: $secondary-darken-2;
$watched-color: $primary-darken-1;

UserInfo ContainerTitle{
    background: $general-color;
    text-align: center;
}

/* GeneralInfo */
UserInfo GeneralInfo {
  layout: grid;
  grid-size: 5;
  height: 3;
}

UserInfo .general-info-label{
    background: $watched-color;
    width: 50;
    text-align: center;
}

UserInfo GeneralInfo DynamicLabel {
    text-align: center;
    width: 50;
}

UserInfo GeneralInfo .general-name-value{
    text-align: center;
    width: 50;
}

/* MoneyInfo */
UserInfo MoneyInfo {
  layout: grid;
  grid-size: 6;
  height: 3;
}

MoneyInfo .money-info-label{
    background: $primary-lighten-1;
    width: 50;
    text-align: center;
}

UserInfo MoneyInfo DynamicLabel {
    text-align: center;
    width: 50;
}
