ManageAccountsTabPane {
  ScrollablePart {
    align: center top;
  }

  Section {
    width: 50%;

    SectionBody {
      layout: horizontal;
    }
  }

  ManageAccountsTable {
    margin-top: 1;
  }
}
