ManageAccountsContainer {
  align-horizontal: center;
  height: auto;

  Section {
    width: 50%;

    SectionBody {
      layout: horizontal;
    }
  }

  ManageAccountsTable {
    margin-top: 1;
  }
}
