LimitOrderCreate2 Body {
  grid-size: 3;
  grid-columns: 19 2fr 2fr;
  grid-rows: 3 4 4 4 4 4 4;
  height: 33;
  margin: 0 4;
  background: $panel;
}

LimitOrderCreate2 PlaceTaker {
  row-span: 3;
}

LimitOrderCreate2 .label {
  padding: 1 2;
  text-align: right;
}

LimitOrderCreate2 #owner-label {
  padding: 1 1;
}
