$table-header-color: $primary-background;

HivePowerManagement {
  HpVestsFactor {
    margin-bottom: 1;
  }

  Center {
    margin-top: 1;
  }

  Tab {
    width: 1fr;
  }

  #hive-power-info {
    height: 6;
  }

  WithdrawalInfo {
    width: 1fr;
  }

  #loading-static {
    margin-top: 1;
    background: $primary;
  }

  CliveDataTable {
    margin-right: 2;
    width: 2fr;
    height: auto;

    HpInfoTableHeader {
      height: auto;

      Static {
        text-style: bold;
        text-align: center;
      }

      #shares-name-header {
        background: $table-header-color;
        width: 2fr;
      }

      .shares-balance-header {
        background: $table-header-color;
        width: 3fr;
      }
    }

    RowTitle {
      width: 2fr;
    }

    .shares-balance-cell {
      text-style: bold;
      width: 3fr;
      text-align: right;
    }
  }
}
