CreateProposal Body {
  grid-size: 2;
  grid-columns: 18 1fr;
  grid-rows: 3 4 4 4 4 4;
  height: 27;
  margin: 0 4;
  background: $panel;
}

CreateProposal .label {
  padding: 1 2;
  text-align: right;
}

CreateProposal Input{
    width: 120;
}


CreateProposal #creator-label {
  padding: 1 1;
}
