WithdrawRoutes {
  height: 1fr;

  Section {
    margin-bottom: 1;
  }

  #input-with-checkbox {
    margin-top: 1;
    height: auto;

    Checkbox {
      width: 17;
    }
  }

  AccountNameInput KnownAccount {
    margin-left: 3;
  }

  WithdrawRoutesTable {
    height: auto;

    SectionTitle {
      margin-top: 1;
    }

    WithdrawRoutesHeader {
      height: auto;

      Static {
        text-style: bold;
        width: 1fr;
        text-align: center;
      }
    }

    WithdrawRoute {
      height: auto;

      #remove-withdraw-route-button {
        width: 1fr;
      }
    }
  }
}

.horizontal-buttons {
  align: center middle;
  height: auto;

  CliveButton {
    margin: 1;
  }
}
