$governance-green-color: $success-darken-3;
$governance-red-color: $error;

Proxy {
  height: auto;

  Body {
    background: $panel;
    padding: 2 2;
    height: auto;
  }

  /* Due to an error in the textual with margins, align is set to the center top, more info: https://github.com/Textualize/textual/issues/4332 */
  #set-button-container {
    align: center top;
    height: auto;
  }

  #modify-proxy-buttons {
    align: center top;
    height: auto;
  }

  #change-proxy-button {
    margin-right: 3;
  }

  #remove-proxy-button {
    margin-left: 3;
  }

  ProxyBaseContainer {
    height: auto;

    CurrentProxy,
    ProxyInput {
      margin-bottom: 1;
    }
  }

  ProxyNotSet {
    Notice {
      margin-bottom: 1;
    }
  }
}
