$governance-green-color: $success-darken-3;
$governance-red-color: $error;

Proxy {
  height: auto;
}

Proxy #set-button-container {
  align: center middle;
  height: 4;
}

Proxy #set-proxy-button {
  background: $governance-green-color;
}

Proxy #modify-proxy-buttons {
  align: center middle;
  height: 3;
}

Proxy #change-proxy-button {
  margin-right: 3;
  background: $governance-green-color;
}

Proxy #remove-proxy-button {
  margin-left: 3;
  background: $governance-red-color;
}

ProxyBaseContainer {
  height: auto;

  CurrentProxy,
  ProxyInput {
    margin-bottom: 1;
  }
}
