Activate {
  DialogContainer {
    layout: grid;
    grid-gutter: 1;
    grid-rows: auto;
    height: auto;
  }

  ButtonsContainer {
    height: auto;
  }

  Button {
    width: 1fr;
  }

  #activate-button {
    margin-right: 1;
  }

  Checkbox {
    column-span: 2;
    margin: 0 1;
  }

  #active-mode-input--input {
    width: 25;
  }
}
