Activate {
  LabelizedInput {
    margin-bottom: 1;
  }

  ActiveModeTimeContainer {
    margin: 1 0;
    height: auto;
  }

  ButtonsContainer {
    height: auto;

    Button {
      width: 1fr;
    }

    #activate-button {
      margin-right: 1;
    }
  }
}
