SetNodeAddressBase Body {
  padding: 2 4;
}

SetNodeAddressBase NodesList,
SetNodeAddressBase ManualNode,
SetNodeAddressBase ModeSwitchContainer {
  height: auto;
}

SetNodeAddressBase ModeSwitchContainer {
  display: none;
}

SetNodeAddressBase ModeSwitchContainer Static {
  text-align: left;
  padding: 1 2;
}

SetNodeAddressBase ManualNode Button {
  background: $primary;
  margin-top: 1;
}
