SetNodeAddressBase ScrollablePart {
  padding: 2 4;
  height: 1fr;
}

SetNodeAddressBase NodesList,
SetNodeAddressBase ManualNode,
SetNodeAddressBase ModeSwitchContainer {
  height: auto;
}

SetNodeAddressBase ModeSwitchContainer {
  display: none;
}

SetNodeAddressBase ModeSwitchContainer Static {
  padding: 1 2;
  text-align: left;
}

SetNodeAddressBase ManualNode Button {
  margin-top: 1;
  background: $primary;
}
