LimitOrderCancel Body {
  grid-size: 2;
  grid-columns: 18 1fr;
  grid-rows: 5;
  height: 10;
  margin: 0 4;
  background: $panel;
}

LimitOrderCancel .label {
  padding: 0 3;
  text-align: right;
  margin: 1 2;
}

LimitOrderCancel #owner-label {
  padding: 1 1;
}

LimitOrderCancel Input{
    width: 120;
}
