Activate DialogContainer {
  grid-columns: 12 1fr;
  grid-rows: 4;
  grid-size: 2;
  layout: grid;
}

Activate Button{
    margin: 0 1;
    width: 100%;
}

Activate .label {
    padding: 1 2;
    text-align: right;
}

Activate #active-mode-label {
    text-align: left;
}
