Activate DialogContainer {
  grid-columns: 20 1fr;
  grid-rows: 4;
  grid-size: 2;
  layout: grid;
}

Activate ButtonsContainer {
  height: auto;
}

Activate Button{
    width: 1fr;
}

Activate #activate-button {
  margin-right: 1;
}

Activate #activate-button:focus {
  background: $primary-darken-1;
}

Activate #cancel-button:focus {
  background: $error-darken-1;
}

Activate .label {
    padding: 1 2;
    text-align: right;
}

Activate #active-mode-label {
    text-align: left;
}

Activate Switch {
  dock: right;
}

Activate #active-mode-input {
    width: 25;
}
