WitnessSetProperties Body {
  grid-size: 2;
  grid-columns: 24 2fr 1fr;
  grid-rows: 3 4 4 4 4;
  height: 19;
  margin: 0 4;
  background: $panel;
}

WitnessSetProperties .label {
  padding: 1 2;
  text-align: right;
}

WitnessSetProperties Input{
    width: 120;
}

WitnessSetProperties PlaceTaker{
    row-span: 1;
}
