DelegateHivePower {
  HPVestsAmountInput {
    margin-top: 1;
  }

  Section {
    margin-bottom: 1;
  }

  DelegationsTable {
    height: auto;

    SectionTitle {
      margin-top: 1;
    }

    DelegationsTableHeader {
      text-style: bold;
      height: auto;
    }

    Static {
      width: 1fr;
      text-align: center;
    }

    Delegation {
      width: 1fr;
      height: auto;

      #remove-delegation-button {
        width: 1fr;
      }
    }
  }
}

.horizontal-buttons {
  align: center middle;
  height: auto;

  CliveButton {
    margin: 1;
  }
}
