CreateProfileCommon {
  SectionScrollable {
    padding: 1 4 0 4; /* TODO: change to margin after bumping textual to 0.58.0 due to margin bug */
    SectionBody {
      layout: grid;
      grid-gutter: 1;
      grid-rows: auto;
    }
  }

  .label {
    padding: 1 2;
    text-align: right;
  }
}

CreateProfile {
  ButtonsContainer {
    height: auto;
  }

  Button {
    width: 1fr;
  }

  #create-button {
    margin-right: 1;
  }
}
