CreateProfileCommon {
  DialogContainer DialogBody {
    layout: grid;
    grid-gutter: 1;
    grid-rows: auto;
    height: auto;
  }

  .label {
    padding: 1 2;
    text-align: right;
  }
}

CreateProfile {
  ButtonsContainer {
    height: auto;
  }

  Button {
    width: 1fr;
  }

  #create-button {
    margin-right: 1;
  }
}
