CreateProfileCommon DialogContainer {
  grid-columns: 20 1fr;
  grid-rows: 4;
  grid-size: 2;
  layout: grid;
}

CreateProfileCommon .label {
  padding: 1 2;
  text-align: right;
}

CreateProfile ButtonsContainer {
  height: auto;
}


CreateProfile Button {
  width: 1fr;
}

CreateProfile #create-button {
  margin-right: 1;
}

CreateProfile #create-button:focus {
  background: $primary-darken-1;
}

CreateProfile #cancel-button:focus {
  background: $error-darken-1;
}
