$table-column-1-odd: $panel-lighten-1;
$table-column-2-odd: $panel-darken-1;
$table-column-1-even: $secondary-lighten-1;
$table-column-2-even: $secondary-darken-1;
$table-header-column: $primary;

Proposals {
  Label {
    text-style: bold;
    width: 1fr;
    text-align: center;
  }

  Proposal {
    layout: horizontal;
    height: 3;

    GovernanceCheckbox {
      align: center middle;
      width: 10;
      height: 1fr;
    }
  }

  ProposalsTable {
    width: 9fr;
    height: auto;
  }

  ProposalsOrderChange {
    height: 4;

    #selectors-labels {
      height: 1;
    }
  }

  ProposalsListHeader {
    grid-size: 3;
    grid-columns: 1fr 3fr 1fr;
    height: auto;
  }

  ProposalsActions {
    #action-name-row {
      background: $table-header-column;
      width: 1fr;
    }
  }

  ProposalInformation {
    width: 7fr;

    .proposal-id {
      width: 1fr;
    }

    .proposal-title {
      width: 1fr;
      text-align: left;
    }

    .proposal-accounts {
      width: 3fr;
      text-align: left;
    }

    .proposal-votes {
      width: 2fr;
    }

    .proposal-pay {
      width: 5fr;
      text-align: right;
    }

    .proposal-status {
      width: 2fr;
    }

    .proposal-date {
      width: 2fr;
      text-align: right;
    }

    .proposal-id-even {
      background: $table-column-1-even;
    }

    .proposal-id-odd {
      background: $table-column-1-odd;
    }

    .proposal-row-even {
      background: $table-column-2-even;
    }

    .proposal-row-odd {
      background: $table-column-2-odd;
    }
  }
}
