$metadata-color: $primary-darken-1;

StaticPart {
  height: auto;
}

ScrollablePart {
  height: 1fr;
  padding-bottom: 1;
}

ActionsContainer {
  height: 3;
  margin: 1;
}

SelectKey {
  max-width: 25%;
}

KeyHint {
  margin: 1;
  text-style: bold;
}

TransactionContentHint {
  background: $panel;
  padding: 1;
  margin: 0 1;
}

OperationItem {
  margin: 0 1;
  padding: 1;
  background: $panel;
}

OperationItem.-even {
  background: $panel-lighten-1;
}

TransactionMetadataContainer {
  border: $metadata-color;
  height: auto;
  margin: 0 1; /* bug there, if margin is not set or set to 0, margin-right: 2 appears */
}

ContainerTitle {
  color: $text;
  text-style: bold;
  padding-left: 2;
  background: $metadata-color;
  margin-top: 1;
}

TransactionMetadataContainer Label {
  width: 1fr;
}
