$metadata-color: $primary-darken-1;

TransactionSummaryCommon {
  StaticPart {
    height: auto;
  }

  ScrollablePart {
    padding-bottom: 1;
    height: 1fr;
  }

  ActionsContainer {
    margin: 1;
    height: 3;
  }

  SelectKey {
    max-width: 25%;
  }

  KeyHint {
    text-style: bold;
    margin: 1;
  }

  TransactionContentHint {
    margin: 0 1;
    background: $panel;
    padding: 1;
  }

  OperationItem {
    margin: 0 1;
    background: $panel;
    padding: 1;
  }

  OperationItem.-even {
    background: $panel-lighten-1;
  }

  TransactionMetadataContainer {
    border-title-background: $metadata-color;
    border-title-color: $text;
    border-title-style: bold;
    margin: 0 1; /* bug there, if margin is not set or set to 0, margin-right: 2 appears */
    border: $metadata-color;
    height: auto;

    Label {
      width: 1fr;
    }
  }

  TaposHolder {
    height: auto;
    #ref-block-num,
    #ref-block-prefix {
      margin-left: 1;
    }
  }
}
