SetAccountFormScreen {
  SectionScrollable {
    margin: 1 4 0 4;
  }

  AccountNameInput {
    height: auto;

    InputLabel {
      width: 18;
    }
  }

  NavigationButtons {
    margin-top: 1;
  }

  WorkingAccountCheckbox {
    margin-top: 1;
  }
}
