RemoveProposal Body {
  grid-size: 3;
  grid-columns: 18 2fr 1fr;
  grid-rows: 5 4 4 4 4;
  height: 9;
  margin: 0 4;
  background: $panel;
}

RemoveProposal PlaceTaker {
  row-span: 2;
}

RemoveProposal .label {
  padding: 1 2;
  text-align: right;
}

RemoveProposal #owner-label {
  padding: 1 1;
}
