ClaimRewardBalance Body {
  grid-size: 3;
  grid-columns: 17 2fr 1fr;
  grid-rows: 3 4 4 4;
  margin: 0 4;
  background: $panel;
  height: 16;
}

ClaimRewardBalance PlaceTaker {
  row-span: 3;
}

ClaimRewardBalance #account-label {
  padding: 1 1;
}
