$working-color: $secondary-darken-2;
$watched-color: $primary-darken-1;

DashboardBase WorkingAccountContainer {
  border: $working-color;
}

DashboardBase WatchedAccountContainer {
  border: $watched-color;
}

DashboardBase ContainerTitle {
  color: $text;
  text-style: bold;
  padding-left: 2;
}

DashboardBase ContainerTitle.watched {
  background: $watched-color;
}

DashboardBase ContainerTitle.working {
  background: $working-color;
}

/* AccountRow */

DashboardBase AccountRow {
  height: 6;
  box-sizing: content-box;
}


DashboardBase AccountRow.watched {
  border-bottom: $primary-lighten-1;
}

DashboardBase AccountRow #tables {
  width: 1fr;
}

/* AccountInfo */

DashboardBase AccountInfo {
  width: auto;
}

/* BalanceStats */

DashboardBase BalanceStats {
  height: 2;
  margin-left: 2;
  layout: grid;
  grid-size: 3 1;
}


DashboardBase BalanceStats .even-manabar {
  background: $primary-lighten-1;
}

DashboardBase BalanceStats .odd-manabar {
  background: $primary-lighten-2;
}

DashboardBase ManabarRepresentation {
  layout: grid;
  grid-size: 10 2;
  width: 100%;
  height: 2;
}

DashboardBase ManabarRepresentation DynamicLabel {
  text-align: center;
  width: 100%;
}

DashboardBase ManabarRepresentation .percentage {
  column-span: 10;
}

DashboardBase ManabarRepresentation .time {
  background: $panel-lighten-2;
  column-span: 6;
}

DashboardBase ManabarRepresentation .hivepower-value {
  background: $panel-lighten-1;
  column-span: 4;
}

/* ActivityStats */

DashboardBase ActivityStats {
  layout: grid;
  grid-size: 3;
  height: 3;
}

DashboardBase ActivityStats Static {
  text-align: center;
}

DashboardBase ActivityStats DynamicLabel {
  text-align: center;
}

DashboardBase ActivityStats .title {
  color: $text;
  background: $accent-lighten-3;
}

DashboardBase ActivityStats .title-variant {
  background: $accent-lighten-2;
}

DashboardBase ActivityStats .token {
  margin-left: 2;
  background: $accent-lighten-1;
}

DashboardBase ActivityStats .token-variant {
  background: $accent-lighten-2;
}

DashboardBase ActivityStats .amount {
  width: 1fr;
  background: $panel-lighten-1;
}

DashboardBase ActivityStats .amount-variant {
  background: $panel-lighten-2;
}

DashboardBase #account-info-button{
      background: $panel-lighten-2;
      height: 3;
}
