$working-color: $secondary-darken-2;
$watched-color: $primary-darken-1;

DashboardBase {
  AccountsContainer {
    height: auto;
  }

  WorkingAccountContainer,
  WatchedAccountContainer {
    border-title-color: $text;
    border-title-style: bold;
  }

  WorkingAccountContainer {
    border-title-background: $working-color;
    border: $working-color;
  }

  WatchedAccountContainer {
    border-title-background: $watched-color;
    border: $watched-color;
  }

  TrackedAccountRow {
    box-sizing: content-box;
    height: 6;

    &.watched {
      border-bottom: $primary-lighten-1;

      &.last {
        border-bottom: none;
      }
    }

    #tables {
      width: 8fr;
    }
  }

  TrackedAccountInfo {
    width: 3fr;

    #account-alarms-and-details {
      width: auto;
      height: auto;

      AlarmDisplay {
        align: center middle;
        width: 100%;
      }

      #account-info-container {
        width: auto;
        height: 1;

        EllipsedStatic {
          width: 16;
          text-align: center;
        }

        OneLineButton {
          width: 9;
          min-width: 9;
        }
      }
    }
  }

  BalanceStats {
    layout: grid;
    grid-size: 3 1;
    margin-left: 2;
    height: 2;

    .even-manabar {
      background: $primary-lighten-1;
    }

    .odd-manabar {
      background: $primary-lighten-2;
    }
  }

  ManabarRepresentation {
    layout: grid;
    grid-size: 10 2;
    width: 100%;
    height: 2;

    DynamicLabel {
      align: center middle;
      width: 1fr;
    }

    .percentage {
      column-span: 10;
    }

    .time {
      column-span: 6;
      background: $panel-lighten-2;
    }

    .hivepower-value {
      column-span: 4;
      background: $panel-lighten-1;
    }
  }

  ActivityStats {
    layout: grid;
    grid-size: 3;
    height: 3;

    Static {
      text-align: center;
    }

    DynamicLabel {
      align: center middle;
      width: 1fr;
    }

    .title {
      background: $accent-lighten-3;
      color: $text;
    }

    .title-variant {
      background: $accent-lighten-2;
    }

    .token {
      margin-left: 2;
      background: $accent-lighten-1;
    }

    .token-variant {
      background: $accent-lighten-2;
    }

    .amount {
      background: $panel-lighten-1;
      width: 1fr;
    }

    .amount-variant {
      background: $panel-lighten-2;
    }
  }
}
