LiquidNavigationScreen {
  align: center middle;
  background: $background 85%;

  LiquidNavigationScreenContent {
    border-title-style: bold;
    border-title-color: $text;
    border-title-background: $primary;
    border: $primary outer;
    background: $panel 80%;
    padding: 1;
    width: 50%;
    height: auto;

    OneLineButton {
      margin-top: 1;
      width: 30;
    }

    Section {
      width: auto;

      SectionBody {
        padding: 1 4;
        width: auto;

        OneLineButton {
          margin: 1 0;
        }
      }
    }
  }
}
