TransferToAccount {
  Section {
    margin: 0 4;

    #button-container {
      align: center top;
      height: auto;
    }
  }

  Body {
    grid-rows: auto;
    grid-gutter: 1;
    width: 100%;
    height: auto;
  }
}
