TransferToAccount {
  Section {
    margin: 0 4;
  }

  Body {
    grid-rows: auto;
    grid-gutter: 1;
    width: 100%;
    height: auto;
  }
}

.horizontal-buttons {
  align: center middle;
  height: auto;

  CliveButton {
    margin: 1;
  }
}
