Unlock {
  DialogContainer {
    DialogBody {
      max-height: 43;
    }

    CliveButton,
    #or-static {
      width: 1fr;
    }

    PasswordInput,
    #or-static {
      margin: 1 0;
    }

    #or-static {
      text-style: bold;
      text-align: center;
    }

    #press-help-message {
      margin-bottom: 1;
      text-align: center;
    }
  }
}
