UpdateProposalVotes Body {
  grid-size: 2;
  grid-columns: 19 1fr;
  grid-rows: 4 5 5;
  height: 13;
  margin: 0 4;
  background: $panel;
}

UpdateProposalVotes #voter-label {
  padding: 1 2;
}

UpdateProposalVotes Checkbox {
  margin-left: 4;
}
