$info-color: $accent;

PowerDown {
  Section {
    margin-bottom: 1;

    Horizontal {
      height: auto;
    }

    TransactionButtons {
      margin-top: 1;
    }
  }

  WithdrawRoutesDisplay {
    height: auto;

    Pretty {
      content-align: center top;
      width: 1fr;
    }

    #withdraw-routes-header {
      text-style: bold;
      margin-top: 1;
      background: $secondary-lighten-1;
      width: 1fr;
      height: 1;
      text-align: center;
    }
  }

  PendingPowerDown {
    SectionTitle {
      margin-top: 1;
    }

    CliveButton {
      width: 1fr;
    }

    PendingPowerDownHeader {
      height: 1;

      Static {
        text-style: bold;
        width: 1fr;
        text-align: center;
      }
    }
  }
}
