TrackedAccounts {
  ManageWorkingAccountTable {
    margin: 1 0 1 0;
    width: 50%;
    height: auto;

    CliveButton {
      width: 1fr;
    }

    Static {
      text-align: center;
    }
  }

  WorkingAccountChange {
    align-horizontal: center;
    height: auto;

    Section {
      width: 50%;

      SectionBody {
        layout: horizontal;
      }

      CliveButton {
        width: 10;
        min-width: 10;
      }
    }
  }
}
