CustomBinary Body {
  grid-size: 2;
  grid-columns: 27 2fr 1fr;
  grid-rows: 5 5 5 5 5 3;
  height: 47;
  margin: 0 4;
  background: $panel;
}

CustomBinary .label {
  padding: 2 2;
  text-align: right;
}

CustomBinary Input{
    width: 120;
    margin: 1 1;
}

CustomBinary .information{
    padding: 0 18;
}
