SetWithdrawVestingRoute Body {
  grid-size: 2;
  grid-columns: 17 1fr;
  grid-rows: 3 4 4 4;
  height: 16;
  margin: 0 4;
  background: $panel;
}

SetWithdrawVestingRoute #from-label {
  padding: 1 2;
}

SetWithdrawVestingRoute Checkbox {
  margin-left: 2;
  width: auto;
}
