Custom Body {
  grid-size: 2;
  grid-columns: 18 1fr;
  grid-rows: 5;
  height: 16;
  margin: 0 4;
  background: $panel;
}

Custom .label {
  padding: 2 2;
  text-align: right;
}

Custom Input{
    width: 120;
    margin: 1 1;
}
