DelegateVestingShares Body {
  grid-size: 2;
  grid-columns: 19 1fr;
  grid-rows: 3 4 4;
  height: 12;
  margin: 0 4;
  background: $panel;
}

DelegateVestingShares #delegator-label {
  padding: 1 1;
}
