EscrowApprove Body {
  grid-size: 3;
  grid-columns: 13 3fr 1fr;
  grid-rows: 3 4 4 4 4 4 4;
  height: 25;
  margin: 0 4;
  background: $panel;
}

EscrowApprove PlaceTaker {
  row-span: 5;
}

EscrowApprove .label {
  padding: 1 1;
  text-align: right;
}

EscrowApprove #from-label {
  padding: 1 2;
}
