FinishFormScreen {
  Description {
    content-align: center middle;
    margin: 1;
  }

  ButtonsContainer {
    height: auto;

    Button {
      width: 1fr;
    }
  }

  #finish-button {
    margin-right: 1;
  }
}
