SwitchWorkingAccountScreen {
  align: center middle;
  background: $background 85%;

  SwitchWorkingAccountScreenContent {
    border-title-style: bold;
    border-title-color: $text;
    border-title-background: $primary;
    border: $primary outer;
    background: $panel;
    padding: 1;
    width: 50%;
    height: auto;

    AccountManagementReference {
      align: center top;
    }

    #buttons-container {
      align: center top;
      margin-top: 1;
      height: auto;

      OneLineButton {
        margin-right: 2;
        margin-left: 2;
      }
    }

    SwitchWorkingAccountContainer {
      margin-top: 1;
      height: auto;
    }
  }
}
