WelcomeFormScreen DialogContainer {
	layout: grid;
}

WelcomeFormScreen DialogContainer BigTitle {
	content-align: center middle;
	width: 100%;
	margin: 2;
}

WelcomeFormScreen DialogContainer Static {
	content-align: center middle;
	width: 100%;
	margin: 2;
}

WelcomeFormScreen DialogContainer Button {
	width: 100%;
	background: $primary-background-darken-2;
}
