AddTrackedAccountDialog {
  CliveDialogContent {
    AccountManagementReference {
      align: center top;
      margin-bottom: 1;
    }

    Section {
      margin: 0 4;
    }

    #buttons-container {
      OneLineButton {
        margin: 0 2;
        width: 20;
      }
    }
  }
}
