LiquidNavigationDialog {
  CliveDialogContent {
    OneLineButton {
      width: 30;
    }

    Section {
      width: auto;

      SectionBody {
        padding: 1 4;
        width: auto;

        OneLineButton {
          margin: 1 0;
        }
      }
    }
  }
}
