SwitchWorkingAccountDialog {
  CliveDialogContent {
    RadioSet {
      background: rgba(0, 0, 0, 0);
    }

    AccountManagementReference {
      align: center top;
      margin-bottom: 1;
    }

    #buttons-container {
      OneLineButton {
        margin: 0 2;
        width: 20;
      }
    }

    SwitchWorkingAccountContainer {
      height: auto;
    }
  }
}
