WitnessDetailsDialog {
  LoadingIndicator.-textual-loading-indicator {
    background: 0%;
  }

  CliveDialogContent {
    width: 70%;

    WitnessDetailsWidget {
      width: 1fr;
      height: auto;
      min-height: 3;
      text-align: left;
    }
  }
}
