CommentOptions Body {
  grid-size: 2;
  grid-columns: 27 1fr;
  grid-rows: 3 4 4 4 4 4;
  height: 27;
  margin: 0 4;
  background: $panel;
}

CommentOptions .label {
  padding: 1 2;
  text-align: right;
}

CommentOptions Input{
    width: 120;
}


CommentOptions #author-label {
  padding: 1 1;
}

CommentOptions Checkbox {
    margin-left: 15;
}
