Convert Body {
  grid-size: 2;
  grid-columns: 15 1fr;
  grid-rows: 3 4 4;
  margin: 0 4;
  background: $panel;
  height: 12;
}

Convert PlaceTaker {
  row-span: 2;
}

Convert #from-label {
  padding: 1 1;
}
