CancelTransferFromSavings CancelTransferParameters {
  grid-size: 2;
  grid-columns: 15 1fr;
  grid-rows: 4;
  margin: 0 4;
  height: auto;
  background: $panel;
}

CancelTransferFromSavings #from-label {
  padding: 1 2;
}

CancelTransferFromSavings .parameters-label {
  padding: 1 2;
}

CancelTransferFromSavings FromSavingsTransferParameters {
    grid-size: 4;
    grid-rows: 1;
    margin: 0 4;
}

CancelTransferFromSavings FromSavingsTransferParameters Static {
    text-align: center;
    text-style: bold;
}

CancelTransferFromSavings #to-column {
    background: $accent-lighten-1;
}

CancelTransferFromSavings #realized-column {
    background: $primary-lighten-1;
}

CancelTransferFromSavings #amount-column {
    background: $accent-lighten-2;
}

CancelTransferFromSavings #memo-column {
    background: $primary-lighten-2;
}
