ManageAccountsTabPane {
  align: center middle;

  Center {
    width: 50%;
  }

  AddAccountContainer Section SectionBody {
    layout: horizontal;
  }

  AddAccountContainer {
    margin-bottom: 1;
  }
}
