Comment Body {
  grid-size: 2;
  grid-columns: 22 1fr;
  grid-rows: 5;
  height: 30;
  margin: 0 4;
  background: $panel;
}

Comment .label {
  padding: 2 2;
  text-align: right;
}

Comment Input{
    width: 120;
    margin: 1 0;
}
