ResetAccount Body {
  grid-size: 2;
  grid-columns: 22 2fr 1fr;
  grid-rows: 5;
  height: 30;
  margin: 0 4;
  background: $panel;
}

ResetAccount .label {
  padding: 2 2;
  text-align: right;
}

ResetAccount Input{
    width: 120;
    margin: 1 0;
}
