AuthorityForm SubTitle {
  text-style: bold;
  content-align: center middle;
}

AuthorityForm Body {
  grid-columns: 14 1fr;
  grid-rows: 4;
  grid-size: 2;
  height: auto;
  padding: 2 4;
}

AuthorityForm .label {
  padding: 1 2;
}
