RegistrationCommon DialogContainer {
  grid-size: 12 5;
  layout: grid;
}

RegistrationCommon Button {
  margin: 0 1;
  width: 100%;
}

RegistrationCommon DialogContainer Input {
  column-span: 10;
}

RegistrationCommon DialogContainer .label {
  padding: 1 2;
  text-align: right;
  column-span: 2;
}
