RegistrationCommon ViewBag {
  align: center middle;
  background: $panel;
  border: tall $background;
  grid-columns: 12 1fr;
  grid-rows: 4;
  grid-size: 2;
  height: 100%;
  layout: grid;
  margin: 4 8;
  padding: 1 2;
}

RegistrationCommon Button {
  margin: 0 1;
  width: 100%;
}

RegistrationCommon .label {
  padding: 1 2;
  text-align: right;
}
