$metadata-color: $primary-darken-1;

TransactionSummary {
  Subtitle {
    content-align: center middle;
  }

  StaticPart {
    height: auto;
  }

  CartTable {
    CliveCheckerBoardTableCell {
      height: 3;
    }

    CartHeader {
      height: 1;

      Static {
        width: 1fr;
        text-align: center;
      }
    }

    CartItem {
      &:focus-within {
        opacity: 93%;
        background: $accent;
      }
    }

    NoContentAvailable {
      content-align: center middle;
      margin-left: 1;
      height: 3;
    }

    .operation-name {
      width: 2fr;
    }

    .operation-details {
      width: 5fr;
    }

    .actions {
      width: 35;
    }

    CliveButton {
      margin-left: 1;
      min-width: 8;
    }

    ButtonRawJson {
      margin-left: 0;
    }
  }

  #actions-container {
    margin: 1 0;
    height: auto;

    ButtonContainer {
      width: auto;
      height: auto;

      CliveButton {
        width: 23;
      }

      ButtonBroadcast {
        margin-left: 1;
      }

      ButtonSave {
        margin-right: 1;
      }
    }

    KeyContainer {
      align: left top;
      margin-right: 1;
      height: auto;

      KeyHint {
        text-style: bold;
        margin: 1;
      }
    }
  }

  TransactionMetadataContainer {
    /* this container has bugged margins: setting margin here is affecting other widgets, described here: https://github.com/Textualize/textual/issues/5116 */
    border-title-background: $metadata-color;
    border-title-color: $text;
    border-title-style: bold;
    border: $metadata-color;
    height: auto;

    Label {
      width: 1fr;
    }

    #no-metadata {
      text-align: center;
    }

    #label-and-button-container {
      height: auto;

      Container {
        align-horizontal: right;
        margin-top: 1;
        height: auto;
      }
    }
  }

  TaposHolder {
    height: auto;

    #ref-block-num,
    #ref-block-prefix {
      margin-left: 1;
    }
  }
}
