AccountUpdate Body {
  grid-size: 2;
  grid-columns: 22 2fr 1fr;
  grid-rows: 5 5 5 3;
  height: 70;
  margin: 0 4;
  background: $panel;
}

AccountUpdate .label {
  padding: 2 2;
  text-align: right;
}

AccountUpdate Input{
    width: 120;
    margin: 1 0;
}
