$governance-green-color: $success-darken-3;
$governance-red-color: $error;
$table-header-color: $primary-lighten-3;

GovernanceActions {
  margin-left: 1;
  width: 3fr;

  SectionTitle {
    padding: 0 1;
  }

  #name-and-action {
    height: auto;
  }

  #action-row {
    background: $table-header-color;
    width: 1fr;
  }
}

GovernanceActionRow {
  height: auto;

  .action-vote {
    background: $governance-green-color;
  }

  .action-unvote {
    background: $governance-red-color;
  }

  .action-pending {
    background: $panel-lighten-3;
  }
}
