RequestAccountRecovery Body {
  grid-size: 2;
  grid-columns: 22 2fr 1fr;
  grid-rows: 4 4 2 4 4 4;
  height: 23;
  margin: 0 4;
  background: $panel;
}

RequestAccountRecovery .label {
  padding: 1 2;
  text-align: right;
}

RequestAccountRecovery Input{
    width: 120;
}

RequestAccountRecovery PlaceTaker{
    row-span: 1;
}
